.3765_12650 { 
	overflow:hidden;
}.e3765_12650 { 
	width:674px;
	height:1200px;
	position:absolute;
}.e3733_14940 { 
	width:672px;
	height:598px;
	position:absolute;
	left:0px;
	top:0px;
}.e3729_13566 { 
	width:672px;
	height:598px;
	position:absolute;
	left:0px;
	top:0px;
}.e3728_13563 { 
	width:672px;
	height:598px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3732_13997 { 
	width:24px;
	height:24px;
	position:absolute;
	left:646px;
	top:4px;
}.ei3732_13997_681_15401 { 
	background-color:rgba(19.0000007674098, 81.00000277161598, 180.00000447034836, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}.ei3732_13997_681_15402 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.ei3732_13997_681_15403 { 
	width:10px;
	height:10px;
	position:absolute;
	left:5px;
	top:5px;
}